<%= f.label :workout_id, "Select a workout:" %>
    <%= f.collection_select :workout_id, Workout.all, :id, :name, include_blank: true    %>

     <br></br>

     <h3>Or Create a new workout:</h3>
     <%= render partial: "layouts/errors", locals: { object: @training.workout } %>


  <%= f.fields_for :workout do |w| %>
    <%= w.label :name %>
    <%= w.text_field :name %>
    <br></br>

  <%= w.label :category %>
  <%= w.select :category,options_for_select(["run", "swim", "bike", "walk", "weights", "other"]), include_blank: true  %>
    <br></br>

  <%= w.label :pace %>
  <%= w.text_field :pace %>
  <br></br>

  <%= w.label :distance, "Distance in Miles" %>
  <%= w.text_field :distance %>
    <br></br>

  <%= w.hidden_field :user_id, value: current_user.id %>
    <br></br>

  <% end %>