<%= display_index_header %>

<ul>
<% @trainings.order(:date).each do |t| %>
  <li>
    <%= t.username %> completed the
    <%= link_to t.workout.name, workout_path(t.workout)%>
    while training for the <%= link_to t.race.title, race_path(t.race)%>
    <%= display_date(t) %>
    <%= display_feeling(t) %>


  </li><br>
<% end %>
</ul>