<h1>Record a Training Session</h1>

<%= render partial: "layouts/errors", locals: { object: @training } %>

<%= form_for [@workout,@training] do |f| %>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :feeling %>
  <%= f.text_field :feeling %>

  <br></br>

  <%= f.label :race_id %>
  <%= f.collection_select :race_id, current_user.races, :id, :title    %>

  <br></br>

  <%= workout_form_option(f) %>

  <%= f.submit%>


<% end %>