<h1>Welcome <%=@user.username%></h1>

<ul>
<% @user.races.distance_search(1).order_alpha_reverse.each do |r| %>
  <li><%= r.title %> - <%= r.distance %> miles </li>
<% end %>
</ul>

<% if current_user != @user %>
  <h5>Invite <%=@user.username%> to train with you:</h5>
  <div>
    <%= form_tag("/users/#{@user.id}/message") do %>
      <label>Add a custom message:</label> <br>
      <%= text_area_tag :content %> <br>
      <%= submit_tag "Train with me!"%>
    <% end %>
  </div>
<% end %>