<!DOCTYPE html>
<html>
  <head>
    <title>Rpb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <%= link_to 'Logout', '/logout', method: :delete%>
      <%= link_to 'My Races', races_path %>
      <%= link_to 'Add a Race', new_race_path %>
      <%= link_to 'Add a Workout', new_workout_path %>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
